<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title or site_info.title }}</title>
        <meta name="description" content="{{ description or site_info.description }}">

        <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site_info.title }}">

        <meta name="generator" content="{{ eleventy.generator }}">

        <link rel="stylesheet" href="https://www.silentselene.net/static/fonts/Lato.css">
        <link rel="stylesheet" href="https://www.silentselene.net/static/fonts/EBGaramond.css">
        <link rel="stylesheet" href="/main.css">
    </head>
<body>

    <header>
        <a href="/" class="home-link">{{ site_info.title }}</a>
        <a style="margin-left: auto; margin-right: 20px;" onclick="toggleTheme()">🌙</a>
    </header>

    <main>
        <div class="content">
            {{ content | safe }}
        </div>
    </main>

    <footer></footer>
</body>

<script>
    document.body.classList.remove("theme-light");

    const themes = [ "theme-light", "theme-dark" ];

    let theme = localStorage.getItem("theme");
    if(!themes.includes(theme)) {
        theme = "theme-light";
        localStorage.setItem("theme", theme);
    }

    document.body.classList.add(theme);

    const toggleTheme = () => {
        document.body.classList.remove(theme)
        switch(theme) {
        case "theme-light":
            theme = "theme-dark";
            break;
        case "theme-dark": default:
            theme = "theme-light"
            break;
        }
        document.body.classList.add(theme);
        localStorage.setItem("theme", theme);
    }
</script>