<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title or site_info.title }}</title>
        <meta name="description" content="{{ description or site_info.description }}">

        <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site_info.title }}">

        <meta name="generator" content="{{ eleventy.generator }}">

        <link rel="stylesheet" href="/main.css">
    </head>
<body>

    <header>
        <a href="/" class="home-link">{{ site_info.title }}</a>

        <nav>
            <ul class="nav">
            {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
            </ul>
        </nav>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer></footer>
</body>
